body{
  background-image: url("4wqOtlb.jpg");
  background-size: cover;
  padding: 2rem;
}

.jumbotron {
  background-color: rgb(150,150,150,0.5);
}
@font-face {
    font-family: "CC";
    src: url(The\ Perfect\ Christmas.ttf);    
  }
  @font-face {
    font-family: "Cupid";
    src: url(KLCupid.ttf);    
  }
   @font-face {
    font-family: "Star";
    src: url(All\ Star\ Resort.ttf);    
  }
  @font-face {
    font-family: "Old";
    src: url(BeTrueToYourSchool-Regular.ttf);    
  }
  @font-face {
    font-family: "Charbb";
    src: url(charbb_reg.ttf);    
  }
  @font-face {
    font-family: "Cookie";
    src: url(CookieMonster.ttf);    
  }
  @font-face {
    font-family: "Winter";
    src: url(Winter\ flakes.ttf);    
  }
  @font-face {
    font-family: "JT";
    src: url(JIMTH___.TTF);    
  }
  @font-face {
    font-family: "budm";
    src: url(budmo\ jigglish.ttf);    
  }
  @font-face {
    font-family: "neon";
    src: url(NEON\ ABSOLUTE\ SANS1.ttf);    
  }